body{background:#23272A;}
div{display:flex;justify-content:center;align-items:center;}

#board, 
#blackTaken, 
#whiteTaken,
#pawnPromotion {
  display: block;
}

#blackTaken {
  position: absolute;
  top: 10px;
}
#board {
  position: absolute;
  top: 110px;
}
#whiteTaken {
  position: absolute;
  top: 935px;
}

#pawnPromotion {
  position: absolute;
  top: 410px;
  left: calc(50% + 500px);
}